<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script>
			function fnGetFileNameFromContentDispostionHeader(header, type) {
				let contentDispostion = header.split(';');
				const fileNameToken = `filename=`;

				let fileName = `default.${type}`;
				for (let thisValue of contentDispostion) {
					if (thisValue.trim().indexOf(fileNameToken) === 0) {
						fileName = decodeURIComponent(thisValue.trim().replace(fileNameToken, ''));
						break;
					}
				}

				return fileName;
			}

			function download() {
				const fileType = 'env';
				const projectId = 'dotkeeper-055e8';

				let headers = new Headers();
				headers.append('Content-Type', 'application/json');

				const options = {
					method: 'POST',
					headers: headers,
					body: JSON.stringify({ fileType, projectId }),
				};

				fetch(`file/download`, options)
					.then(async (res) => ({
						contentType: res.headers.get('Content-type'),
						filename: fnGetFileNameFromContentDispostionHeader(res.headers.get('Content-disposition')),
						blob: await res.blob(),
					}))
					.then((resObj) => {
						// It is necessary to create a new blob object with mime-type explicitly set for all browsers except Chrome, but it works for Chrome too.
						const newBlob = new Blob([resObj.blob], { type: resObj.contentType });

						// MS Edge and IE don't allow using a blob object directly as link href, instead it is necessary to use msSaveOrOpenBlob
						if (window.navigator && window.navigator.msSaveOrOpenBlob) {
							window.navigator.msSaveOrOpenBlob(newBlob);
						} else {
							// For other browsers: create a link pointing to the ObjectURL containing the blob.
							const objUrl = window.URL.createObjectURL(newBlob);

							let link = document.createElement('a');
							link.href = objUrl;
							link.download = resObj.filename;
							link.click();

							// For Firefox it is necessary to delay revoking the ObjectURL.
							setTimeout(() => {
								window.URL.revokeObjectURL(objUrl);
							}, 250);
						}
					})
					.catch((error) => {
						console.log('DOWNLOAD ERROR', error);
					});
			}
		</script>
		<title>File download with Fetch</title>
	</head>

	<body>
		<h2>A simple example to illustrate downloading of file using window.fetch()</h2>
		<button onclick="download()">Download file</button>
	</body>
</html>
