<div id="landing">
	<nav class="navbar navbar-dark navbar-expand-md">
		<a id="nav-home" class="navbar-brand" href="/dashboard">
			<img src="/assets/favicon.svg">
			&nbsp;
			&nbsp;
			<p>DotKeeper</p>
		</a>
	</nav>
	<div class="container login-container">
		<div class="row">
			<div class="col-sm-6 center left-login-container">
				<p id="login-title">Modern, smart and extensible cloud locker</p>
				<br>
				<p id="login-body">DotKeeper is a simple to use cloud locker for managing secrets and protecting sensitive data
				</p>
				<br>
				<a href="/auth/google" class="login-with-google">
					<i class="fab fa-google left"></i>&nbsp; Login with Google
				</a>
			</div>
			<div class="col-sm-6 center right-login-container">
				<img id="demo-img" src="/assets/ill5.svg">
			</div>
		</div>
	</div>
	<div class="container feature-container center">
		<div class="row">
			<div class="col-sm-4 feature-cell">
				<img class="feature-img" src="/assets/feature1.svg">
				<p class="feature-title">Manage Your Secrets</p>
				<p class="feature-body">Centrally store, access, and manage application’s secrets and configuration</p>
			</div>
			<div class="col-sm-4 feature-cell">
				<img class="feature-img" src="/assets/feature2.svg">
				<p class="feature-title">Data Encryption</p>
				<p class="feature-body">Keep your application secret secure with one industry standard encryption workflow to
					encrypt data in flight and at rest
				</p>
			</div>
			<div class="col-sm-4 feature-cell">
				<img class="feature-img" src="/assets/feature3.svg">
				<p class="feature-title">Access From Anywhere</p>
				<p class="feature-body"> Access your secrets securely from anywhere using any machine</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 feature-cell">
				<img class="feature-img" src="/assets/feature4.svg">
				<p class="feature-title">Collaborate Easily</p>
				<p class="feature-body">Flexible Role Based Access Control helps you easily invite your friends and team members
				</p>
			</div>
			<div class="col-sm-4 feature-cell">
				<img class="feature-img" src="/assets/feature5.svg">
				<p class="feature-title">Easy Integration</p>
				<p class="feature-body">Rich set of extension and CLI toolings helps easy integration of DotKeeper with your IDE
					and CI pipeline</p>
			</div>
			<div class="col-sm-4 feature-cell">
				<img class="feature-img" src="/assets/feature6.svg">
				<p class="feature-title">Staging Control</p>
				<p class="feature-body">Create and group your secrets mirroring different stages of your application pipeline
					like dev,
					stag, prod etc.
				</p>
			</div>
		</div>
	</div>
</div>