<div class="container login-container" style="width: auto;">
	<div align="center" class="error-container">
		<img src="/assets/500.svg" class="error-img">
		<br><br>
		<div class="msg">Sorry, it's us, not you :(
			<p>Let's go <a href="/dashboard">home</a> and try from there.</p>
		</div>
	</div>
</div>